@import url('https://fonts.googleapis.com/css?family=Viga');

body {
	background-color: #f00;
	font-family: 'Viga', sans-serif;
	color: #444;
}

div {
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#terminal-container {
	margin-top: -5em;
    height: 100%;
	text-align: center;
	overflow: hidden;
	position: fixed;
}

#terminal {
	height: inherit;
	stroke: #f00;
}

#brand {
	padding-top: 6px;
	color: #ddd;
	font-size: 1.5em;
}

#hornhaut-tv-player {
	position: fixed;
	top: 140px;
	left: 460px;
	height: 200px;
}